.App {
	max-width: 950px;
	margin: 0 auto;
}

.App .App-logo {
	max-width: 200px;
	display: block;
	margin: 0 auto;
}

body {
	background-color: rgb(251, 209, 78, 0.1);
}

a {
	color: rgb(151, 112, 241);
}

.App-header {
	margin: 30px 0;
}

.App-footer {
	text-align: center;
	margin: 30px 0;
}
